/* content */
.text-header { font-size: 16.5pt; font-family: Arial Narrow, sans-serif; color: #ffffff;}
.pageContent { font-size: 8pt; font-family: Tahoma, sans-serif; color: #A9AAAD; }
 .pageContent a { font-size: 8pt; font-family: Tahoma, sans-serif; color: #A9AAAD; }

/* top elements */
.company { font-size: 16.5pt; font-family: Arial Narrow, sans-serif; color: #ffffff; }
.slogan { font-size: 7pt; font-family: Tahoma, sans-serif; color: #A9AAAD; text-transform: uppercase; }

/*main menu*/
.menu { font-size: 7.5pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; text-transform: uppercase; }
.amenu { font-weight: bold; font-size: 7.5pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; text-transform: uppercase; }

/*submenu*/
.submenu { font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }
.asubmenu { font-weight: bold; font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }

/*bottom menu*/
.bmenu { font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }
.abmenu { font-weight: bold; font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }

/*copyright*/
.footer { font-size: 8pt; font-family: Tahoma, sans-serif; color: #949599; }

/*backgrounds*/
.main-bg { background-color: #282B32; }
.bmenu-bg { background-color: #4C5D3A; }
.bmenu-border { border: 1px solid #3D4B2F; border-top: 0; }

