{% extends "_layout" %}
{% set title = entry.title %}
{% set metadescription = entry.metadescription %}
{% set id = entry.id %}

{% block javascript %}
<script type="text/javascript" src="{{ siteUrl }}static/js/main.js"></script>
{% endblock %}

{% block content %}
<div id="slider-small">
    <div class="item" style="background-image: url({{siteUrl}}static/images/slides/vervolgpagina.jpg); display: block; transition: opacity 1000ms ease-in-out; -webkit-transition: opacity 1000ms ease-in-out; ">
    </div>
</div>
<div class="submenu">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 ">
            <ul>
            	{% for entry in craft.entries.section('diensten').order('id asc') %}
                <li {% if id == entry.id %}class="active"{% endif %}><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 ">
                <ul>
                    <li><a href="{{ siteUrl }}"><i class="fa fa-home"></i></a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li><a href="{{ url('over-ons') }}">Over ons</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>{{ entry.title }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
    	<div class="row block">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h1 class="gray">{{ entry.title }}</h1>
            </div>
        </div>
    	{% for block in entry.inhoud %}
        {% if block.type == "volledig" %}

        <div class="row block">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h2 class="blue">{{ block.header }}</h2>
                {{ block.tekst }}
            </div>
        </div>
    
        {% elseif block.type == "links" %}
    
		<div class="row block">
            <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12 ">
            	{% for asset in block.afbeelding %}
                <img src="{{ siteUrl }}{{ asset.url }}" alt="" class="img-responsive"> 
                {% endfor %}
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7  col-xs-12 ">
                <h2 class="blue">{{ block.header }}</h2>
                {{ block.tekst }}
            </div>
        </div>
    
        {% elseif block.type == "rechts" %}
    
         <div class="row block">
            <div class="col-lg-7 col-md-7 col-sm-7  col-xs-12 ">
                <h2 class="blue">{{ block.header }}</h2>
                {{ block.tekst }}
            </div>
             <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12 ">
            	{% for asset in block.afbeelding %}
                <img src="{{ siteUrl }}{{ asset.url }}" alt="" class="img-responsive"> 
                {% endfor %}
            </div>
        </div>
    
        {% endif %}
        {% endfor %}
        
    </div>
</div>
{% include 'formulier' %}
{% endblock %}