{% requireEdition CraftPro %}

{% import "_includes/forms" as forms %}

{{ forms.textField({
	label: "Username"|t,
	id: 'username',
	name: 'username',
	value: settings.username,
	errors: settings.getErrors('username'),
    class: 'rackspace-username',
	required: true
}) }}

{{ forms.textField({
	label: "API Key"|t,
	id: 'apiKey',
	name: 'apiKey',
	value: settings.apiKey,
	errors: settings.getErrors('apiKey'),
    class: 'racskspace-api-key',
	required: true
}) }}

{% set regionInput %}
<table class="inputs">
	<tr>
		<td>
			{{ forms.select({
			id: 'region',
			name: 'region',
			options: { (settings.region): settings.region },
			value: settings.region,
			disabled: true,
			class: 'rackspace-region-select'
			}) }}
		</td>
		<td>
			<div class="btn rackspace-refresh-regions">{{ "Refresh"|t }}</div>
		</td>
		<td>
			<div class="spinner hidden"></div>
		</td>
	</tr>
</table>
{% endset %}

{{ forms.field({
	label: "Region"|t,
	id: 'region'
}, regionInput) }}

{% set containerInput %}
    <table class="inputs">
        <tr>
            <td>
                {{ forms.select({
                    id: 'container',
                    name: 'container',
                    options: { (settings.container): settings.container },
                    value: settings.container,
                    disabled: true,
                    class: 'rackspace-container-select'
                }) }}
            </td>
            <td>
                <div class="btn rackspace-refresh-containers">{{ "Refresh"|t }}</div>
            </td>
            <td>
                <div class="spinner hidden"></div>
            </td>
        </tr>
    </table>
{% endset %}

{{ forms.field({
    label: "Container"|t,
    id: 'container'
}, containerInput) }}

{{ forms.textField({
    label: "Subfolder"|t,
    instructions: "If you want to use a container’s subfolder as a Source, specify the path to use here."|t,
    id: 'subfolder',
    name: 'subfolder',
    value: settings.subfolder,
    errors: settings.getErrors('subfolder'),
    required: false,
    placeholder: 'path/to/subfolder'
}) }}

{{ forms.textField({
    label: "URL Prefix "|t,
    instructions: "If you have set up a CNAME record pointing to this container, you can enter it here. Otherwise leave this setting alone."|t,
    id: 'urlPrefix',
    name: 'urlPrefix',
    value: settings.urlPrefix,
    errors: settings.getErrors('url_prefix'),
    required: true,
    class: 'rackspace-url-prefix'
}) }}
