{% import "_includes/forms" as forms %}
{% set fieldNamespace = 'fields'~random() %}


<form method="post" action="" accept-charset="UTF-8">
	<input type="hidden" name="fieldsLocation" value="{{ fieldNamespace }}">

	{{ forms.textField({
		label: entryType.titleLabel|t,
		id: 'title',
		name: 'title',
		required: true,
		first: true
	}) }}

	{% namespace fieldNamespace %}
		{% for field in entryType.getFieldLayout().getFields() %}
			{% if field.required or field.fieldId in settings.fields %}
				{% include "_includes/field" with {
					field: field.getField(),
					required: field.required,
					entry: null
				} only %}
			{% endif %}
		{% endfor %}
	{% endnamespace %}

	<div class="buttons">
		<input type="submit" class="btn submit" value="{{ 'Post'|t }}">
		<div class="spinner hidden"></div>
	</div>
</form>
