 
@media (max-width: 767px) {
	#slider h1 {
		font-size: 45px !important;
		padding-top: 90px !important;
	}
}
body {
	font-family: 'Open Sans', sans-serif;
	
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.gray {
	color: #272727;
}

p {
	font-size: 14px;
	line-height: 20px;
}

.blue {
	color: #0078bd;
 }


.centered {
    float: none;
    margin: 0 auto;
}
 .btn.center {
	margin:  15%;
}
/* Navigation */

header .logo {
	top:5px;
	height: 60px;
	
}


.social {
	position: relative;
 	float: right;
 	margin-top: -5px;
}
.social li{
	margin-left: 5px;
	
}
#slider-small {
	height: 300px;
}


#slider {
	position: relative;
	top: 0;
	left: 0;
	height: 80%;
	height: 700px;
	width: 100%;
	color: #fff;
	text-align: center;
}

#slider-small .item, #slider .item {
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}


#slider h1{
	padding-top: 240px;
 	font-size: 70px;
	color: #0078bd;
	margin:0 auto;
	clear: both;
	font-weight: 600;
}

#slider h2 {
 	font-weight: 300;
}

.diensten {
/*	background-image: url('../images/transp-white.png'); */
 	background-color: #eaeaea; 
	z-index: 2;
	position: relative;
	border-bottom: 4px solid #0078bd;
 
 }
 
 .dienst {
 	text-align: center;
 	display: block;
	border-radius: 50%;
	width: 210px;
	height: 210px;
 	position: relative; 
	background-color: #0078bd;
	color: white;
	font-weight: 400;
	font-size: 23px;
	line-height: 25px;
	padding: 75px 25px 30px 25px;
	margin: 37px auto;	/* width and height can be anything, as long as they're equal */
}

  .dienst span {
 	display: inline-block;
 	vertical-align: middle; 				  
  }
  .diensten p {
 	 margin: 0 25px ;
	 text-align: center;
 }
  
.scroll {
	display: block;
	position: relative;
	top: 35px;
}
.scroll span, img{
	clear: both;
	margin-bottom: 3px;
	-webkit-transition: all 2s ease-in-out;

	
}
.scroll img:hover {
	top: 34px;
	-webkit-transition: all 3s ease-in-out;

	
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  font-size: 15px;
  background: #1b1b1b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
}
.btn a{
	color: #fff;
}

.btn:hover {
  background: #0078bd;
  text-decoration: none;
}

.about {
	background-color: white;
 	display: block;
 	position: relative;
 	text-align: center;
 	padding: 89px 0 80px 0;
}

.about h1, .about h2 {
	text-align: center;
	
}

.updates {
	height: 280px;
	overflow: hidden;
}

.updates ul	{
	margin: 0;
	padding: 0;
	list-style: none;
}

.updates li	{
	float: left;
	position: relative;
}

/*
.updates li:after	{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 46px;
	background: #fff;
	background-color: rgba(255,255,255,0.5);
}

.updates li:before	{
	content: "";
	position: absolute;
	bottom: 12px;
	right: 10px;
	height: 19px;
	width: 19px;
	display: block;
	z-index: 1;
	background: url(../images/instagram.png);
}
*/

.updates a {
	display: block;
	float: left;
}

.updates img {
	display: block;
	
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.updates img:hover {
	 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%);
}

.footer {
	background-color: #0078bd;
	position: relative;
 	vertical-align: center;
	color: white;
	padding-top: 20px;
 }

 
.phone:before {
	content: "";
	position: absolute;
	top: 3px;
	left: -2px;
	height: 12px;
	width: 11px;
	display: block;
 	background: url(../images/phone.png) no-repeat;
}
.adress:before {
	content: "";
	position: absolute;
	top: 3px;
	left: -2px;
  	height: 12px;
	width: 15px;
	display: block;
 	background: url(../images/home.png) no-repeat;
}
 
.content {
	padding-bottom: 50px;
} 
 
/*Submenu*/
.submenu {
	height: 39px;
	background-color: #0078bd;
}

.submenu ul li {
	float: left;
	list-style-type: none;
	padding: 10px;
	margin: 0;
 	
}
.submenu ul {
	margin: 0;
	padding: 0;
}

.submenu ul li a {
	color: #fff;
 }
.submenu ul li a {
	text-decoration: none;
}
.submenu ul li.active {
	background-color: #fff;
}
.submenu ul li.active a {
	color: #0078bd;
	
}
.submenu ul li:hover {
	background-color: #7496d3;
}


.breadcrumb {
	height: auto;
	border-bottom: 1px solid #e4e4e4;
	background-color: #fff;
}
.breadcrumb ul li {
 	padding:3px 5px;
	float: left;
	list-style-type: none;
}
.breadcrumb ul {
	margin: 0;
	padding: 0;
}
.breadcrumb ul li a.active {
	color: #707173;
}


/*Contact onderaan*/

.bottom-contact {
	background-color: silver;
	
}

.naw {
	background-color: #272727;
	color: #fff;
	padding: 5px 19px 25px 19px;
	margin-bottom: 10px;
  	
}
#map-canvas {
	width: 100%;
	height: 275px;
}
/*Diensten*/
.big-thumb {
	background-color: #0078bd ;
	color: #fff;
	text-align: center;
	height: 127px;
	padding: 20px;
	margin-bottom: 10px;
}

.big-thumb:hover {
	background-color: #2d93ce;
}

.big-thumb h4:hover {
	text-decoration: none;
}
.big-thumb h4 {
	padding-bottom: 5px;
}

.contactform {
	margin-top: 25px;
		
}

.row.block {
	padding-bottom: 35px;
}

 

.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

header {
	height: 68px;
	position: fixed;
	display: block;
	z-index: 100;
	background-color: white;
	width: 100%;
	border-bottom: 2px solid #0078BD;
}


header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-table;
}

header nav ul li {
	margin: 0;
	padding: 0;
	float: left;
}


header nav > ul > li > a {
	position: relative;
	color: #707173;
	font-size: 16px;
	padding: 8px 10px;
	margin-right: 5px;
	top:20px;
	height: 63px;
	display: block;
 }
header nav ul a:hover {
	color: #0078bd;
	text-decoration: none;
}


header nav ul > li {
  }

header nav ul > li { 
	list-style: none; 
	float:left;	
	height: 100%;
}

header nav ul > li:hover ul{
	display: block;
}

header nav ul > li > ul {
		display: none;
		position: absolute;
		top: 100%;
  		}

header nav ul > li > ul > li {
	position: relative;
	float: none;
	background: white;
 	
}

header nav ul > li > ul > li > a {
	height: 40px;
	display: block;
	padding: 5px 8px 5px 8px;
	
}
header nav ul > li > ul > li:hover {
	position: relative;
	float: none;
 	background-color: #efefef;
}
/*header nav ul > li > ul > li:last-child {
	padding-bottom: 35px;
}*/


header nav ul > li > ul > li a {
	font-weight: normal;
} 		
 		
header nav ul > li:hover > ul > li {
	display: block;	
}		



header nav{ 
	display: block; 
	float: right;
	height: 100%; 
}

header nav, .menu, .menu > li, .menu > li > a{ 
	height: 100%; 
}


@media only screen and (max-width: 768px){
	

	header nav > ul {
 	  position: absolute;
	  visibility: hidden;
	  top: 68px;
	  left: 0;
	  display: block;
	  width: 100%;
	  background: rgba(7, 7, 7, 0.8);
	  -webkit-transition: 0.25s;
	  transition: 0.25s;
	  transition: all 0.25s ease-in-out;
	  -moz-transition: all 0.25s ease-in-out;
	  -webkit-transition: all 0.25s ease-in-out;
/*	  padding: 5px 20px;*/
	  font-size: 15px;
/*	  padding-bottom: 15px;*/
	}
	header nav > ul > li {
 	  float: none;
	  margin: 0;
 	  border-bottom: 1px solid white;
	  padding: 0;
	}
	header nav ul li a {
	  color: #fff;
 	  padding: 5px 10px;
	}
	
	header nav > ul > li > ul > li {
		font-size: 13px;
		display: none;	}
 	header nav ul li ul li{
 			  height: 50px;	  
 		
 	}
	header nav ul li:hover {
		display: block ;
	}
	
	header nav > ul > li:focus >  a ,header nav > ul > li:hover > a,
	header nav > ul > li.active > a {
	  text-decoration: none;
	  color: #0078bd;
	}
  
	
	
	header nav ul > li > ul {
			display: block;
			position: relative;
			top: 100%;
  	}
	header nav ul > li > ul > li {
		position: relative;
		float: none;
 		padding: 5px 2px 20px 2px;
 		background: none;
		
	}
	header nav ul > li > ul > li:last-child {
/*		padding-bottom: 35px;*/
	}
	
	nav #menu {
	  position: absolute;
	  display: block;
	  margin: 0;
	  padding: 10px 0;
	  height: 4px;
	  width: 30px;
	  top: 20px;
	  right: 20px;
	  border: none;
	  background: none;
	  outline: none;
	  box-shadow: none;
	}
	
	nav #menu {
	   position: absolute;
	   display: block;
	   margin: 0;
	   padding: 10px 0;
	   height: 4px;
	   width: 30px;
	   top: 20px;
	   right: 20px;
	   border: none;
	   background: none;
	   outline: none;
	   box-shadow: none;
	 }
	nav #menu .lines {
	   display: block;
	   width: 100%;
	   height: 3px;
	   background: #000;
	   -webkit-transition: all 0.3s ease-out;
	 }
	nav #menu .lines:before,
	nav #menu .lines:after {
	   position: absolute;
	   display: inline-block;
	   content: '';
	   top: 0;
	   left: 0;
	   height: 3px;
	   width: 100%;
	   background: #000;
	   -webkit-transform-origin: 1px center;
	   -webkit-transition: all 0.3s ease-in-out;
	 }
	nav #menu .lines:after {
	   top: 20px;
	 }
	nav #menu.active .lines {
	   background: transparent;
	 }
	nav #menu.active .lines:before {
	   -webkit-transform: rotate3d(0, 0, 1, 45deg);
	 }
	nav #menu.active .lines:after {
	   -webkit-transform: rotate3d(0, 0, 1, -45deg);
	 }
	nav.show ul {
	   visibility: visible;
	 }
}
input#preferredKitten { display: none; }
