{% import "_includes/forms" as forms %}

<form method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data">
	{% set fromEmail = getHelp is defined ? getHelp.fromEmail : currentUser.email %}
	{% if fromEmail == "support@pixelandtonic.com" or fromEmail == "support@buildwithcraft.com" %}
		{% set fromEmail = "" %}
	{% endif %}

	{{ forms.textField({
		label: "Your Email"|t,
		class: 'fromEmail',
		name: 'fromEmail',
		value: fromEmail,
		errors: getHelp is defined ? getHelp.getErrors('fromEmail') : ''
	}) }}

	{{ forms.textareaField({
		label: "Message"|t,
		class: 'message',
		name: 'message',
		placeholder: "Tell us about your problems."|t,
		rows: 4
	}) }}

	<a class="fieldtoggle" data-target="gethelp-more">{{ "More"|t }}</a>

	<div id="gethelp-more" class="hidden">
		{{ forms.checkboxField({
			label: "Attach error logs?"|t,
			class: 'attachLogs',
			name: 'attachLogs',
			checked: true
		}) }}

		{{ forms.checkboxField({
			label: "Attach a database backup?"|t,
			class: 'attachDbBackup',
			name: 'attachDbBackup',
			checked: craft.config.backupDbOnUpdate,
		}) }}

		{{ forms.checkboxField({
			name: 'attachTemplates',
			checked: true,
			class: 'attachTemplates',
			label: "Include your template files?"|t,
		}) }}

		{{ forms.fileField({
			label: "Attach an additional file?"|t,
			class: 'attachAdditionalFile',
			name: 'attachAdditionalFile',
		}) }}
	</div>

	<div class="buttons last">
		<input type="submit" class="btn submit" value="{{ 'Send'|t }}">
		<div class="spinner hidden"></div>
	</div>

	{% set email %}<a href="mailto:support@buildwithcraft.com">support@buildwithcraft.com</a>{% endset %}
	<p class="error hidden">{{ "Couldn’t send your message. Please email it to {email} instead."|t({ email: email })|raw }}</p>
</form>
