{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}


{% set content %}
	<form method="post" action="" accept-charset="UTF-8" data-saveshortcut="1">
		<input type="hidden" name="action" value="sections/saveEntryType">
		{% if section.type == 'single' %}
			<input type="hidden" name="redirect" value="settings/sections">
		{% else %}
			<input type="hidden" name="redirect" value="settings/sections/{{ section.id }}/entrytypes">
		{% endif %}
		<input type="hidden" name="sectionId" value="{{ section.id }}">
		{% if entryType.id %}<input type="hidden" name="entryTypeId" value="{{ entryType.id }}">{% endif %}

		{{ forms.textField({
			first: true,
			label: "Name"|t,
			instructions: "What this entry type will be called in the CP."|t,
			id: 'name',
			name: 'name',
			value: entryType.name,
			errors: entryType.getErrors('name'),
			autofocus: true,
			required: true
		}) }}

		{{ forms.textField({
			label: "Handle"|t,
			instructions: "How you’ll refer to this entry type in the templates."|t,
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: entryType.handle,
			errors: entryType.getErrors('handle'),
			required: true
		}) }}

		{% if section.type != 'single' %}
			<hr>

			{{ forms.checkboxField({
				label: "Show title fields"|t,
				name: 'hasTitleField',
				toggle: 'titleLabel-container',
				reverseToggle: 'titleFormat-container',
				checked: entryType.hasTitleField
			}) }}

			<div id="titleLabel-container"{% if not entryType.hasTitleField %} class="hidden"{% endif %}>
				{{ forms.textField({
					label: "Title Field Label"|t,
					instructions: "What do you want the entries’ “Title” fields to be labeled?"|t,
					id: 'titleLabel',
					name: 'titleLabel',
					value: entryType.titleLabel,
					errors: entryType.getErrors('titleLabel'),
					required: true
				}) }}
			</div>

			<div id="titleFormat-container"{% if entryType.hasTitleField %} class="hidden"{% endif %}>
				{{ forms.textField({
					label: "Title Format"|t,
					instructions: "What the auto-generated entry titles should look like. You can include tags that output entry properties, such as {ex}."|t({ ex: '<code>{myCustomField}</code>' }),
					id: 'titleFormat',
					name: 'titleFormat',
					value: entryType.titleFormat,
					errors: entryType.getErrors('titleFormat'),
					required: true
				}) }}
			</div>
		{% endif %}

		<hr>

		{% include "_includes/fieldlayoutdesigner" with {
			fieldLayout: entryType.getFieldLayout(),
		} only %}

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}


{% if not entryType.handle %}
	{% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}
