{% import "_includes/forms" as forms %}

{% macro uploadLocationInput(name, settings, sourceOptions) %}
	{% from "_includes/forms" import select, text %}
	<table class="inputs fullwidth">
		<tr>
			<td class="thin">
				{{ select({
					id: name~'Source',
					name: name~'Source',
					options: sourceOptions,
					value: settings[name~'Source'],
				}) }}
			</td>
			<td>
				{{ text({
					id: name~'Subpath',
					name: name~'Subpath',
					value: settings[name~'Subpath'],
					placeholder: "path/to/subfolder"|t
				}) }}
			</td>
		</tr>
	</table>
{% endmacro %}

{% from _self import uploadLocationInput %}

{{ forms.checkboxField({
	label: "Restrict uploads to a single folder?"|t,
	id: 'useSingleFolder-toggle',
	name: 'useSingleFolder',
	class: 'use-single-folder-cb',
	value: 1,
	checked: settings.useSingleFolder,
	toggle: 'single-folder-settings',
	reverseToggle: 'multi-folder-settings'
}) }}

<div id="multi-folder-settings"{% if settings.useSingleFolder %} class="hidden"{% endif %}>
	{% if sourceOptions %}
		{{ forms.checkboxSelectField({
			label: "Sources"|t,
			instructions: "Which sources do you want to select {type} from?"|t({ type: type|lower }),
			id: 'sources',
			name: 'sources',
			options: sourceOptions,
			values: settings.sources
		})}}
	{% else %}
		{{ forms.field({
			label: "Sources"|t
		}, '<p class="error">' ~ "No sources exist yet."|t ~ '</p>') }}
	{% endif %}


	{{ forms.field({
		label: "Default Upload Location"|t,
		instructions: "Where should files be uploaded when they are dragged directly onto the field, or uploaded from the front end?"|t ~' '~ "Note that the subfolder path can contain variables like <code>{slug}</code> or <code>{author.username}</code>."|t,
		errors: settings.getErrors('defaultUploadLocationSubpath')
	}, uploadLocationInput('defaultUploadLocation', settings, sourceOptions)) }}
</div>

<div id="single-folder-settings"{% if not settings.useSingleFolder %} class="hidden"{% endif %}>
	{{ forms.field({
		label: "Upload Location"|t,
		instructions: "Note that the subfolder path can contain variables like <code>{slug}</code> or <code>{author.username}</code>."|t,
		errors: settings.getErrors('singleUploadLocationSubpath')
	}, uploadLocationInput('singleUploadLocation', settings, sourceOptions)) }}
</div>

{{ forms.checkboxField({
	label: "Restrict allowed file types?"|t,
	class: 'restrictFiles',
	id: '',
	name: 'restrictFiles',
	value: 1,
	checked: settings.restrictFiles,
	toggle: 'restrict-allowed-types'
}) }}

<div id="restrict-allowed-types" {% if not settings.restrictFiles %}class="hidden indent"{% endif %}>
	{% for option in fileKindOptions %}
		{{ forms.checkboxField({
			label: option.label,
			id: 'allowedKinds-'~option.value,
			name: 'allowedKinds[]',
			value: option.value,
			checked: (option.value in settings.allowedKinds)
		}) }}
	{% endfor %}
</div>

{{ targetLocaleField }}

{{ forms.textField({
	label: "Limit"|t,
	instructions: "Limit the number of selectable {type}."|t({ type: type|lower }),
	id: 'limit',
	name: 'limit',
	value: settings.limit,
	size: 2,
	errors: settings.getErrors('limit')
}) }}
