{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set title = "General Settings"|t %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}


{% set content %}
	<form method="post" action="" accept-charset="UTF-8" data-saveshortcut="1">
		<input type="hidden" name="action" value="systemSettings/saveGeneralSettings">
		<input type="hidden" name="redirect" value="settings">

		{{ forms.lightswitchField({
			first: true,
			label: "System Status"|t,
			id: 'on',
			name: 'on',
			on: info.on,
			onLabel: "On"|t,
			offLabel: "Off"|t
		}) }}

		{{ forms.textField({
			label: "Site Name"|t,
			id: 'siteName',
			name: 'siteName',
			value: info.siteName,
			autofocus: true,
			required: true,
			errors: info.getErrors('siteName')
		}) }}

		{{ forms.textField({
			label: "Site URL"|t,
			id: 'siteUrl',
			name: 'siteUrl',
			value: info.siteUrl,
			required: true,
			errors: info.getErrors('siteUrl')
		}) }}

		{{ forms.selectField({
			label: "Timezone"|t,
			id: 'timezone',
			name: 'timezone',
			value: info.timezone,
			options: timezoneOptions
		}) }}

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
		</div>
	</form>

	{% if CraftEdition >= CraftClient %}
		<hr>

		{% includeTranslations
			"Are you sure you want to delete the logo?"
		%}

		{% includeJsResource "lib/fileupload/jquery.ui.widget.js" %}
		{% includeJsResource "lib/fileupload/jquery.fileupload.js" %}
		{% includeJsResource "lib/imgareaselect/jquery.imgareaselect.pack.js" %}
		{% includeJsResource "js/rebrand.js" %}
		{% includeCssResource "lib/imgareaselect/imgareaselect-animated.css" %}
		{% includeCssResource "css/rebrand.css" %}

		{% set logoInput %}
			{% include 'settings/general/_logo' %}
		{% endset %}

		{{ forms.field({
			label: "Logo"|t
		}, logoInput) }}

		<div class="clear"></div>
	{% endif %}

{% endset %}
