{% requireEdition CraftPro %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') },
	{ label: "Users"|t, url: url('settings/users') },
	{ label: "User Groups"|t, url: url('settings/users') }
] %}

{% set docsUrl = 'http://buildwithcraft.com/docs/users#user-groups' %}


{% if group is not defined and groupId is defined %}
	{% set group = craft.userGroups.getGroupById(groupId) %}
	{% if not group %}{% exit 404 %}{% endif %}
{% endif %}


{% set isNewGroup = (group is not defined or groupId is not defined) %}


{% if isNewGroup %}
	{% set title = "Create a new user group"|t %}
{% else %}
	{% set title = group.name|t %}
{% endif %}


{% set content %}
	<form method="post" action="" accept-charset="UTF-8" data-saveshortcut="1">
		<input type="hidden" name="action" value="userSettings/saveGroup">
		<input type="hidden" name="redirect" value="settings/users">
		{% if not isNewGroup %}<input type="hidden" name="groupId" value="{{ group.id }}">{% endif %}

		{{ forms.textField({
			first: true,
			label: "Name"|t,
			id: 'name',
			name: 'name',
			value: (group is defined ? group.name : null),
			errors: (group is defined ? group.getErrors('name') : null),
			autofocus: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: "Handle"|t,
			id: 'handle',
			name: 'handle',
			value: (group is defined ? group.handle : null),
			errors: (group is defined ? group.getErrors('handle') : null),
			required: true
		}) }}

		<hr>

		<h2>{{ "Permissions"|t }}</h2>

		{% include "_includes/permissions" with { userOrGroup: (group is defined ? group : null) } only %}

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}


{% if group is not defined or not group.handle %}
	{% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}
