{% requireEdition CraftPro %}

{% extends "settings/users/_layout" %}
{% set selectedTab = 'fields' %}

{% set docsUrl = 'http://buildwithcraft.com/docs/fields#field-layouts' %}


{% set content %}
	<form method="post" action="" accept-charset="UTF-8" data-saveshortcut="1">
		<input type="hidden" name="action" value="users/saveFieldLayout">
		<input type="hidden" name="redirect" value="settings">

		{% include "_includes/fieldlayoutdesigner" with {
			fieldLayout: craft.fields.getLayoutByType('User'),
			customizableTabs: false,
			pretendTabName: 'Profile'
		} only %}

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endset %}
