<!DOCTYPE html>
<html lang="nl">
  <head>
  	 {% block head %}
  	
 	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="SPM design & more">
    
    <!-- Bootstrap -->
    <link href="{{ siteUrl }}static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ siteUrl }}static/css/default.css" rel="stylesheet" media="screen">
    <link href="{{ siteUrl }}static/css/menu.css" rel="stylesheet" media="screen">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	{% block stylesheets %}
	{% endblock %}
 	<meta name="description" content="{% if metadescription is defined %}{{ metadescription }}{% endif %}" />
	<meta name="keywords" content="{% if keywords is defined %}{{ keywords }}{% endif %}" /> 
 	<meta name="robots" content="index, follow" /> 
	<meta name="googlebot" content="index, follow" /> 
	<link rel="shortcut icon" id="favicon" href="images/favicon.ico"> 
	<script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ siteUrl }}static/js/scroll.js"></script>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="{{ siteUrl }}static/js/contact.js"></script>

         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
       <![endif]-->
       {% block javascript %}
       {% endblock %}		
	 
   </head>
   {% endblock %}
  <body>
	 <header class="header">
		  <div class="container">
			  <div class="row">
			  	 <div class="col-lg-3 col-md-2 col-sm-4 col-xs-4 logo">
			  	 	<a href="{{ siteUrl }}">
				  	 	<img src="{{ siteUrl }}static/images/logo.png" alt="Terug naar home"  width="200" />
			  	 	</a>
			  	 </div>
			  	 
			  	 <div class="col-lg-5 col-md-6 col-sm-8 col-md-offset-4 col-lg-offset-3 col-sm-offset-0 ">
				   <div class="navigation">
				   <nav class="nav">
					  	<button type="button" data-toggle="button" id="menu" class="btn visible-xs">
					  		<span class="lines"></span>
					  	</button>
					  	 <ul>
						  	 <li>
							  	 <a href="{{ siteUrl }}">Home</a>
						  	 </li>
                              <li>
							  	 <a href="{{ url('over-ons') }}">Over ons</a>
                                 <ul>
                                    {% for entry in craft.entries.section('overOns').order('title asc') %}
                                    <li><a href="{{ entry.url }} ">{{ entry.title }}</a></li>
                                    {% endfor %}
                                </ul>
						  	 </li>
						  	 
						  	 <li>
							  	 <a href="{{ url('diensten') }}">Diensten</a>
                                 <ul>
                                    {% for entry in craft.entries.section('diensten').order('title asc') %}
                                    <li><a href="{{ entry.url }} ">{{ entry.title }}</a></li>
                                    {% endfor %}
                                </ul>
						  	 </li>
						  	 <li>
							  	 <a href="{{ url('contact') }}">Contact</a>
						  	 </li>
 					  	 </ul>
				  	</nav>
				  	</div>
				  	<!--<div class="social">
				  		<ul>
				  			<li><a href="http://www.facebook.com/visschertraffic"><i class="fa fa-facebook-square fa-lg gray"></i></a></li>
				  			<li><a href="http://www.linkedin.com/visschertraffic"><i class="fa fa-linkedin-square fa-lg gray"></i></a></li>
				  		</ul>-->
				  	</div>
				  </div>
	 		  </div>
		  </div>
	 </header>
		{% block content %}
		{% endblock %}
 	<div class="footer">
		  <div class="container">
		      <div class="row">
			      <footer>
			      	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-3 ">
				      	<p>{{ algemeen.naam }}</p>
			      	</div>
			      	<div class="col-lg-4 col-md-5 col-sm-5 col-xs-5 cl-md-offset-2 col-lg-offset-3">
				      	<p><i class="fa fa-home"></i>&nbsp;{{ algemeen.adres }} {{ algemeen.postcode }}  {{ algemeen.woonplaats }}</p>
			      	</div>
					<div class="col-md-2 col-lg-2 col-sm-3 col-xs-4  ">
					  	 <i class="fa fa-phone"> </i>&nbsp;{{ algemeen.telefoonnummer }}
					</div>
					
			      </footer>
		      </div>
		  </div>
		</div>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    
	    <script  type="text/javascript" src="{{ siteUrl }}static/js/bootstrap.min.js"></script>
	<!--	 <script type="text/javascript" src="js/retina-1.1.0.js"></script>-->
<!--		 <script type="text/javascript" src="{{ siteUrl}}static/js/instafeed.min.js"></script>-->
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			  ga('create', 'UA-56094206-1', 'auto');
			  ga('send', 'pageview');
			
			</script>
		  </body>
	</html>