{% extends "_layout" %}
{% set title = "Bedankt" %}

{% block javascript %}
<script type="text/javascript" src="{{ siteUrl }}static/js/main.js"></script>
{% endblock %}

{% block content %}
<div id="slider-small">
    <div class="item" style="background-image: url({{siteUrl}}static/images/slides/vervolgpagina.png); display: block; transition: opacity 1000ms ease-in-out; -webkit-transition: opacity 1000ms ease-in-out; ">
    </div>
</div>
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 ">
                <ul>
                    <li><a href="{{ siteUrl }}"><i class="fa fa-home"></i></a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li><a href="{{ url('contact') }}">Contact</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>Bedankt</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
    	<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h1 class="gray">Bedankt!</h1>
                <p>Het contactformulier is goed ontvangen. Wij nemen zo spoedig mogelijk met u contact op.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}