{% extends "_layout" %}
{% set title = entry.title %}
{% set metadescription = entry.metadescription %}

{% block javascript %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="{{ siteUrl }}static/js/maps.js"></script>
{% endblock %}

{% block content %}
	 
	<div id="slider-small">
		<div class="item" style="background-image: url({{ siteUrl }}static/images/slides/vervolgpagina.jpg); display: block; transition: opacity 1000ms ease-in-out; -webkit-transition: opacity 1000ms ease-in-out; ">
		</div>
	</div>
		<div class="breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 ">
					<ul>
						<li><a href="{{ siteUrl }}"><i class="fa fa-home"></i></a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li>{{ entry.title }}</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<h1 class="gray">Neem contact met ons op</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
					<div class="naw">
						<h5>{{ algemeen.naam }}</h5>
                        <p>
                        <strong>Bezoekadres</strong>
                        <br />
                        {{ algemeen.adres }}<br />
                        {{ algemeen.postcode }} {{ algemeen.woonplaats }}<br />
                        <br /> 
                        <strong>Postadres</strong>
                        <br />
                        {{ algemeen.postadres }}<br />
                        {{ algemeen.postadresPostcode }} {{ algemeen.postadresWoonplaats }}<br/>
                        <br />
                        {{ algemeen.telefoonnummer }}<br />
                        E-mail: {{ algemeen.email }}</p>
					</div>
					<p>Volg ons op: <a href="http://www.facebook.com/visschertraffic"><i class="fa fa-facebook-square fa-2x gray"></i></a>
					<a href="http://www.linkedin.com/visschertraffic"><i class="fa fa-linkedin-square fa-2x gray"></i></a>
					</p> 
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
					<div id="map-canvas"></div> 
				</div>
 			</div>
 			
		</div>
	</div>
 	{% macro errorList(errors) %}
        {% if errors %}
                 {% for error in errors %}
                  <div class="alert alert-danger">{{ error }}</div>  
                {% endfor %}
         {% endif %}
    {% endmacro %}
    
    {% from _self import errorList %}
    <div class="bottom-contact">
        <div class="container">
            <div class="row">
                <form method="post" action="" accept-charset="UTF-8">					
                        <input type="hidden" name="action" value="contactForm/sendMessage" />
                                <input type="hidden" name="fromName" value="Visschertraffic" />
                                <input type="hidden" name="fromEmail" value="info@spm-design.nl" />
                                <input type="hidden" name="redirect" value="bedankt">
                            	<input id="preferredKitten" name="preferredKitten" type="text">
                                
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div class="form-group">
                            <label for="naam">Uw naam*:</label>
                            <input type="text" class="form-control" name="message[Naam]"  required />
                          </div>
                          <div class="form-group">
                            <label for="bedrijfsnaam">Bedrijfsnaam (optioneel):</label>
                            <input type="text" class="form-control" name="message[Bedrijfsnaam]"   />
                            </div>
                         <div class="form-group">
                            <label for="emailadres">Emailadres*:</label>
                            <input type="email" class="form-control" name="message[Email]"  required />
                          </div>
                         </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                 <div class="form-group">
                                     <label for="bericht">Bericht*:</label>
                                 <textarea class="form-control" rows="5" name="message[body]" required></textarea>
                                 
                             </div>
                             <p>(*) Verplichte velden </p>
                             <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-sm" value="Send">Verzend</button>
                             </div>
                        </div>
                        
                        </form>
            </div>
        </div>
    </div>
{% endblock %}