<div class="bottom-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="blue">Neem contact op</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="naw">
                    <h5>{{ algemeen.naam }}</h5>
                    <p>
                    <strong>Bezoekadres</strong>
                    <br />
                   	{{ algemeen.adres }}<br />
                    {{ algemeen.postcode }} {{ algemeen.woonplaats }}<br />
                    <br /> 
                    <strong>Postadres</strong>
                    <br />
                    {{ algemeen.postadres }}<br />
                    {{ algemeen.postadresPostcode }} {{ algemeen.postadresWoonplaats }}<br/>
                    <br />
                    {{ algemeen.telefoonnummer }}<br />
                    E-mail: {{ algemeen.email }}</p>
                </div>
                <p>Volg ons op: <a href="http://www.facebook.com/visschertraffic"><i class="fa fa-facebook-square fa-2x gray"></i></a>
                <a href="http://www.linkedin.com/visschertraffic"><i class="fa fa-linkedin-square fa-2x gray"></i></a>
                </p> 
            </div>
                <form method="post" action="" accept-charset="UTF-8">					
					<input type="hidden" name="action" value="contactForm/sendMessage" />
                            <input type="hidden" name="fromName" value="Visschertraffic" />
                            <input type="hidden" name="fromEmail" value="info@spm-design.nl" />
                            <input type="hidden" name="redirect" value="bedankt">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="form-group">
                        <label for="naam">Uw naam*:</label>
					    <input type="text" class="form-control" name="message[Naam]"  required />
                      </div>
                      <div class="form-group">
                        <label for="bedrijfsnaam">Bedrijfsnaam (optioneel):</label>
					    <input type="text" class="form-control" name="message[Bedrijfsnaam]"  required />
                      </div>
                     <div class="form-group">
                       <label for="emailadres">Emailadres*:</label>
					    <input type="email" class="form-control" name="message[Email]"  required />
                      </div>
                     </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                         <div class="form-group">
                             <label for="bericht">Bericht*:</label>
							 <textarea class="form-control" rows="5" name="message[body]"></textarea>
                         </div>
                                                  <p>(*) Verplichte velden </p>
                         
                         <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-sm">Verzend</button>
                         </div>
                    </div>
                    
                </form>
        </div>
    </div>
</div>