{% extends "_layout" %}
{% set title = entry.title %}
{% set metadescription = entry.metadescription %}

{% block javascript %}
<script type="text/javascript" src="{{ siteUrl }}static/js/main.js"></script>
{% endblock %}

{% block content %}

	 
	<div id="slider">
		<div class="item" style="background-image: url({{siteUrl}}static/images/slides/visscher-1.jpg); display: block; transition: opacity 1000ms ease-in-out; -webkit-transition: opacity 1000ms ease-in-out; position: absolute; height: 150%;">
			<div class="container" >
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
						<div class="centered slogan">
							<h1>{{ entry.header }}</h1>
							<h2>{{ entry.subheader }}</h2>
							<div class="scroll">
								<p>scroll naar beneden</p>
								<img src="{{ siteUrl }}static/images/arrow.png" alt="scoll naar beneden">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="diensten">
		<div class="container">
			<div class="row">
             {% for entry in entry.spotlights %}
             	<div class="col-sm-4 col-md-4 col-lg-4">
 					<a href="{{ entry.uri }}"><div class="dienst"><span>{{entry.titelHomepage }}</span></div></a>
 					{{ entry.introductieTekst }}
					<div class="btn center"><a href="{{ entry.uri }}">Lees meer</a></div>
                </div>
            {% endfor %}
			</div>
		</div>
	</div>
	
	<div class="about" >
		<div class="container">
			<div class="row">
				<div class="centered col-sm-10 col-md-10 col-lg-10">
					<h3>{{ entry.visieHeader }}</h3>
					{{ entry.visieTekst }}
  				</p>
				</div>
			</div>
		</div>
	</div>
 		<!--<div class="updates" id="updates" >
 			<ul> 
			</ul>
		</div>-->
{% endblock %}