{% extends "_layout" %}
{% set title = entry.title %}
{% set metadescription = entry.metadescription %}

{% block javascript %}
<script type="text/javascript" src="{{ siteUrl }}static/js/main.js"></script>
{% endblock %}

{% block content %}
	 
	<div id="slider-small">
		<div class="item" style="background-image: url({{ siteUrl }}static/images/slides/vervolgpagina.jpg); display: block;   ">
		</div>
	</div>
	<div class="breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 ">
					<ul>
						<li><a href="{{ siteUrl }}"><i class="fa fa-home"></i></a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li>Over ons</li>
  					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<h1 class="gray">{{ entry.header }}</h1>
				</div>
 			</div>
 			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
 					{{ entry.body }}
 				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-md-offset-1">
					<img src="{{ siteUrl }}static/images/logo.png" alt="Logo Visscher traffic" class="img-responsive"> 
 				</div>
			</div>
			<div class="divider"></div>
            
			<div class="row">
            	{% for entry in craft.entries.section('overOns') %}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
					<a href="{{ entry.uri }}">
						<div class="big-thumb animated fadeInDown">
                        	{% for asset in entry.logo %}
                                {% if asset.extension == 'svg' %}
                               		<object type="image/svg+xml" data="{{ asset.url }}" class="thumb"></object>
                                {% else %}
                                	<img src="{{ asset.url }}" class="thumb" />
                                {% endif %}
                            {% endfor %}
							<h4>{{ entry.title }}</h4>
						</div>
					</a>
 				</div> 
                {% if loop.index == 3 or loop.index == 6 or loop.index == 9 or loop.index == 12 %}   
                </div> 
                <div class="row">  
                {% endif %}
                {% endfor %}
 			</div>
		</div>
	</div>
    
    {% include 'formulier' %}
{% endblock %}